open lectures/IoT cloud/src/node-red-flows.json
[{"id":"14c147d0.b5c898","type":"tab","label":"edge","disabled":false,"info":""},{"id":"b323090b.9608f8","type":"tab","label":"cloud","disabled":false,"info":""},{"id":"c4f55b4b.cdca88","type":"ibmiot","z":"14c147d0.b5c898","name":"coi0nz"},{"id":"d2e3a011.564f3","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"567649b1.85d7b8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"4ba2989.b9cac68","type":"ui_group","name":"Default","tab":"d2e3a011.564f3","order":1,"disp":true,"width":"6","collapse":false},{"id":"d75e85b9.00fe28","type":"inject","z":"14c147d0.b5c898","name":"Fluid Simulator","props":[{"p":"payload","v":"{ \"d\": {\"count\":0, \"hardness\": 61, \"temperature\": 50, \"flowrate\": 11, \"fluidlevel\": \"acceptable\" } }","vt":"json"},{"p":"topic","v":"","vt":"string"}],"repeat":"1","crontab":"","once":false,"topic":"","payload":"{ \"d\": {\"count\":0, \"hardness\": 61, \"temperature\": 50, \"flowrate\": 11, \"fluidlevel\": \"acceptable\" } }","payloadType":"json","x":160,"y":240,"wires":[["5a7d45c9.e5afc4"]]},{"id":"79951689.9815a","type":"ibmiot out","z":"14c147d0.b5c898","authentication":"quickstart","apiKey":"c4f55b4b.cdca88","outputType":"evt","deviceId":"ulstuIoTWasher01","deviceType":"1.3.5","eventCommandType":"status","format":"json","data":"msg.payload","qos":"","name":"Washer01","service":"quickstart","x":780,"y":240,"wires":[]},{"id":"fff9ffcc.c1fdf8","type":"inject","z":"14c147d0.b5c898","name":"Voltage Sensor Simulator","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"3","crontab":"","once":false,"onceDelay":"","topic":"","payload":"{ \"d\": { \"voltage\": 240, \"frequency\": 50 } }","payloadType":"json","x":139.66668701171875,"y":315.1000061035156,"wires":[["ce1e134.2d6427"]]},{"id":"3fcfe7f6.585318","type":"inject","z":"14c147d0.b5c898","name":"Mechanical Sensor Simulator","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":"","topic":"","payload":"{ \"d\": { \"speed\": 1200 } }","payloadType":"json","x":147.66668701171875,"y":399.1000061035156,"wires":[["e964837b.f605c"]]},{"id":"5a7d45c9.e5afc4","type":"function","z":"14c147d0.b5c898","name":"Fluid data","func":"// initialise the counter to 0 if it doesn't exist already\nvar count = context.get('count')||0;\nvar hardness = context.get('hardness')||0;\nvar randomness = context.get('randomness')||0;\ncount += 1;\n// store the value back\ncontext.set('count',count);\n// make it part of the outgoing msg object\nmsg.payload.d.count = count;\nif(count % 300 == 0) {\n    context.set('randomness',1);\n    context.set('hardness', 83);\n} else if(count % 20 == 0) {\n    context.set('randomness',0);\n} else if(count % 121 == 0) {\n    context.set('randomness',2);\n    context.set('hardness', 100);\n}\n\nif(randomness == 0) {\n    // no variation\n    msg.payload.d.hardness = Math.floor(Math.random() * (80 - 70 + 1) + 70);\n} else if(randomness == 1) {\n    // gradually increase\n    msg.payload.d.hardness = hardness + 1;\n    context.set('hardness', (hardness + 1));\n} else {\n    msg.payload.d.hardness = hardness + 5;\n    context.set('hardness', (hardness + 5));\n}\nmsg.payload.d.temperature = Math.floor(Math.random() * (100 - 80 + 1) + 80);\n\n//msg.payload = JSON.stringify(msg.payload)\nmsg.eventOrCommandType = \"fluid\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":381.5500183105469,"y":239.48333740234375,"wires":[["7a3fb60f.48e7a","42908d08.9ab864"]]},{"id":"ce1e134.2d6427","type":"function","z":"14c147d0.b5c898","name":"Voltage data","func":"// initialise the counter to 0 if it doesn't exist already\nvar count = context.get('count')||0;\ncount += 1;\n// store the value back\ncontext.set('count',count);\n// make it part of the outgoing msg object\nmsg.payload.d.count = count;\nif(count % 100 <= 90) {\n    msg.payload.d.voltage = Math.floor(Math.random() * (240 - 220) + 220);\n} else {\n    msg.payload.d.voltage = Math.floor(Math.random() * (260 - 240) + 240);\n}\nmsg.payload.d.frequency = Math.floor(Math.random() * (80 - 60 + 1) + 60);\n//msg.payload = JSON.stringify(msg.payload)\nmsg.eventOrCommandType = \"voltage\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":387.5500183105469,"y":314.98333740234375,"wires":[["7a3fb60f.48e7a","7102403c.2e974"]]},{"id":"e964837b.f605c","type":"function","z":"14c147d0.b5c898","name":"Drum data","func":"// initialise the counter to 0 if it doesn't exist already\nvar count = context.get('count')||0;\ncount += 1;\n// store the value back\ncontext.set('count',count);\n// make it part of the outgoing msg object\nmsg.payload.d.count = count;\nif(count % 100 <= 90) {\n    // No variation - within the safe limit\n    msg.payload.d.speed = Math.floor(Math.random() * (1100 - 1000) + 1000);    \n} else {\n    msg.payload.d.speed = Math.floor(Math.random() * (1300 - 1150) + 1150);        \n}\n\n\n//msg.payload = JSON.stringify(msg.payload)\nmsg.eventOrCommandType = \"drum\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390.5500183105469,"y":398.98333740234375,"wires":[["7a3fb60f.48e7a","5de983a1.a96f0c"]]},{"id":"7a3fb60f.48e7a","type":"function","z":"14c147d0.b5c898","name":"","func":"msg.payload.d.ts = new Date().getTime();\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":280,"wires":[["79951689.9815a","d0de19b9.3cbcd8"]]},{"id":"d0de19b9.3cbcd8","type":"debug","z":"14c147d0.b5c898","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":790,"y":300,"wires":[]},{"id":"a6c77082.c53df","type":"ibmiot in","z":"b323090b.9608f8","authentication":"quickstart","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"ulstuIoTWasher01","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"quickstart","allDevices":false,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":false,"allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":130,"y":280,"wires":[["18db9503.a27adb"]]},{"id":"ffd2fbfc.2eade8","type":"cloudant out","z":"b323090b.9608f8","name":"","cloudant":"","database":"washing","service":"node-red-yluux-2021--cloudant-1621836628222-97499","payonly":true,"operation":"insert","x":640,"y":420,"wires":[]},{"id":"1aa4aa73.542ffe","type":"debug","z":"b323090b.9608f8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":300,"wires":[]},{"id":"18db9503.a27adb","type":"function","z":"b323090b.9608f8","name":"flatten schema","func":"msg.payload = msg.payload.d;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":120,"y":360,"wires":[["3174da79.d08a56","79732462.5e57ac"]]},{"id":"3174da79.d08a56","type":"function","z":"b323090b.9608f8","name":"limit to max 5000 entries","func":"var count = context.global.get('count') || 0;\ncount += 1;\ncontext.global.set('count',count);\nif (count < 5000) {\n   return msg; \n}\n\n","outputs":1,"noerr":0,"initialize":"// Добавленный здесь код будет исполняться\n// однократно при развертывании узла.\ncontext.global.set('count',0);","finalize":"","libs":[],"x":430,"y":360,"wires":[["1aa4aa73.542ffe","ffd2fbfc.2eade8"]]},{"id":"628eae5b.79a0e","type":"http in","z":"b323090b.9608f8","name":"","url":"/edgemodelupdate","method":"get","upload":false,"swaggerDoc":"","x":160,"y":80,"wires":[["2e2223a9.f3929c","acb65982.fc21d8"]]},{"id":"2e2223a9.f3929c","type":"http response","z":"b323090b.9608f8","name":"","statusCode":"","headers":{},"x":370,"y":40,"wires":[]},{"id":"673f90eb.5f54c","type":"ibmiot out","z":"b323090b.9608f8","authentication":"quickstart","apiKey":"","outputType":"evt","deviceId":"ulstu_light_device","deviceType":"1.3.5","eventCommandType":"status","format":"json","data":"stop","qos":0,"name":"IBM IoT","service":"quickstart","x":640,"y":180,"wires":[]},{"id":"a193e9d3.75af68","type":"ibmiot in","z":"14c147d0.b5c898","authentication":"quickstart","apiKey":"c4f55b4b.cdca88","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"ulstu_light_device","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"quickstart","allDevices":"","allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":280,"y":545.4833374023438,"wires":[["6d0eb31f.5b330c"]]},{"id":"6d0eb31f.5b330c","type":"debug","z":"14c147d0.b5c898","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":545.4833374023438,"wires":[]},{"id":"acb65982.fc21d8","type":"function","z":"b323090b.9608f8","name":"","func":"\nif (msg.payload.command === 'emergencyshutdown') \n{\n    node.warn(msg.payload.command);\n    return msg;    \n}\nelse\n{\n    msg.payload.command === 'rgb';\n    msg.payload.rgb = {'r':100, g:150, 'b': 200, 'a':100};\n    node.warn(msg.payload.command);\n    return msg; \n}\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":160,"wires":[["673f90eb.5f54c"]]},{"id":"79732462.5e57ac","type":"function","z":"b323090b.9608f8","name":"","func":"\nif ((msg.payload !== undefined) && (\"voltage\" in msg.payload))\n{\n    msg.payload.command === 'rgb';\n    var r, g, b, a;\n    if (msg.payload.voltage > 218 && msg.payload.voltage < 222)\n    {\n        g = 255;\n        r = b = 0;\n        a = 100;\n    }\n    else\n    {\n        r = 255;\n        g = b = 100 - Math.abs(msg.payload.voltage - 220);\n        a = 100 - Math.abs(msg.payload.voltage - 220);\n    }\n    var newMsg = {payload:{rgb:{'r':0, 'g':0,'b':0,'a':0}}, command:\"rgb\"};\n    newMsg.payload = {};\n    newMsg.payload.rgb = {'r':r, 'g':g, 'b': b, 'a':a};\n    return newMsg;    \n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":240,"wires":[["c27988df.ca2fc8","673f90eb.5f54c"]]},{"id":"c27988df.ca2fc8","type":"debug","z":"b323090b.9608f8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":650,"y":240,"wires":[]},{"id":"d6c328b4.e7aa88","type":"ui_gauge","z":"14c147d0.b5c898","name":"","group":"4ba2989.b9cac68","order":0,"width":0,"height":0,"gtype":"gage","title":"Voltage","label":"V","format":"{{value}}","min":0,"max":"300","colors":["#ffe747","#01bc17","#ca3838"],"seg1":"215","seg2":"230","x":800,"y":400,"wires":[]},{"id":"7102403c.2e974","type":"function","z":"14c147d0.b5c898","name":"","func":"\nif ((msg.payload !== undefined) && (\"d\" in msg.payload))\n{\n    msg.payload = msg.payload.d.voltage;\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":380,"wires":[["d6c328b4.e7aa88","57b789ff.d02a88"]]},{"id":"42908d08.9ab864","type":"function","z":"14c147d0.b5c898","name":"","func":"if ((msg.payload !== undefined) && (\"d\" in msg.payload))\n{\n    msg.payload = msg.payload.d.hardness;\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":160,"wires":[["482d5dae.9f0964"]]},{"id":"482d5dae.9f0964","type":"ui_gauge","z":"14c147d0.b5c898","name":"","group":"4ba2989.b9cac68","order":1,"width":0,"height":0,"gtype":"gage","title":"Hardness","label":"","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":800,"y":160,"wires":[]},{"id":"5de983a1.a96f0c","type":"function","z":"14c147d0.b5c898","name":"","func":"\nif ((msg.payload !== undefined) && (\"d\" in msg.payload))\n{\n    msg.payload = msg.payload.d.speed;\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":480,"wires":[["c822d217.e7717"]]},{"id":"c822d217.e7717","type":"ui_gauge","z":"14c147d0.b5c898","name":"","group":"4ba2989.b9cac68","order":2,"width":0,"height":0,"gtype":"gage","title":"Speed","label":"","format":"{{value}}","min":0,"max":"2000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":790,"y":480,"wires":[]},{"id":"57b789ff.d02a88","type":"ui_chart","z":"14c147d0.b5c898","name":"","group":"4ba2989.b9cac68","order":3,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"100","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":790,"y":360,"wires":[[]]}]